.grid {
	display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: [nav] 100px [body] auto [footer] 100px;
	grid-template-areas:
		". nav ."
		". body ."
		". footer .";
}

.nav {
	grid-area: nav;
}

.body {
	grid-area: body;
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

.footer {
	grid-area: footer;
}

td {
	word-wrap: break-word;
}

td,
th {
	border: 1px solid #999;
	padding: 0.5rem;
	text-align: left;
}

.flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.button {
	margin-top: 15px;
	width: 150px;
	height: 30px;
	font-size: inherit;
}
